:root {
    --$variable: $fallback;
}

@font-face {
    src: url("$variant-Regular.woff2");
    font-family: "$family";
    font-display: swap;
}

@font-face {
    src: url("$variant-Italic.woff2");
    font-family: "$family";
    font-display: swap;
    font-style: italic;
}

@font-face {
    src: url("$variant-Bold.woff2");
    font-family: "$family";
    font-display: swap;
    font-weight: bold;
}

@font-face {
    src: url("$variant-BoldItalic.woff2");
    font-family: "$family";
    font-display: swap;
    font-weight: bold;
    font-style: italic;
}

